/********************************************************/
/* General */
/********************************************************/
html {
	background-color: rgba(24,214,129,1);
}

body {
	font-size: 10pt;
	font-family: 'Fira Sans', sans-serif;
	height: 100%;
	margin: 0;
	color: #fff;
	background: rgba(24,214,129,1);
	background: linear-gradient(180deg, rgba(61,153,112,1) 0%, rgba(24,214,129,1) 70%);
}

/********************************************************/
/* .wrapper */
/********************************************************/
.wrapper {
	max-width: 1000px;
	padding: 0 24px;
	margin: 0 auto;
}

/********************************************************/
/* .button */
/********************************************************/
.button {
	display: inline-block;
	padding: 8px 18px;
	border: 1px solid #fff;
	border-radius: 2px;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.button:hover {
	color: rgba(61,153,112,1);
	background-color: #fff;
}

.button.large {
	font-size: 1.6em;
	padding: 12px 18px;
}

/********************************************************/
/* .mainHeader */
/********************************************************/
.mainHeader {
	padding: 24px 0;
	margin-bottom: 36px;
}

.brmodeloLogo h1 {
	margin: 0;
	text-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

.mainHeader > .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.userOptions {
	display: flex;
	flex-direction: column;
}

.userOptions .button:first-child {
	margin-bottom: 6px;
}

/********************************************************/
/* .heroHeader */
/********************************************************/
.heroHeader {
	margin-bottom: 64px;
	text-align: center;
}

.heroHeader h2 {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	font-size: 2.4em;
	letter-spacing: 0.06;
	line-height: 90%;
	text-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

.heroHeader p {
	font-size: 1.6em;
	text-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

/********************************************************/
/* .heroArea */
/********************************************************/
.heroArea {
	background-image: url(../img/wave-site.svg);
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 64px;
}

/********************************************************/
/* .heroImage */
/********************************************************/
.heroImage {
	display: block;
	position: relative;
}

.heroImage:before,
.heroImage:after {
	content: " ";
	display: block;
	position: absolute;
	height: 200px;
	z-index: 1;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.4);
}

.heroImage:before {
	width: calc(100% - 24px);
	top: -12px;
	left: 12px
}

.heroImage:after {
	width: calc(100% - 48px);
	top: -24px;
	left: 24px;
}

.heroImage > img {
	display: block;
	position: relative;
	width: 100%;
	z-index: 10;
	border-radius: 3px;
	box-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

/********************************************************/
/* Media queries */
/********************************************************/
/* .mainFooter */
/********************************************************/
.mainFooter {
	text-align: center;
	margin-bottom: 32px;
}

.mainFooter p {
	font-size: 1.2em;
	margin: 0;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.4);
}

.octicon {
	transition: all 0.2s ease-in-out;
	fill: rgba(255,255,255, 0.6);
}

.octicon:hover {
	fill: rgba(255,255,255, 1);
}

/********************************************************/
@media only screen and (min-width: 430px) {

	.mainHeader {
		margin-bottom: 64px;
	}

	.userOptions {
		display: block;
	}

	.userOptions > .button {
		margin-left: 12px;
	}

	.heroHeader h2 {
		font-size: 3.6em;
	}

}