/********************************************************/
/* General */
/********************************************************/
html {
	background-color: rgba(61,153,112,1);
}

body {
	font-size: 7.5pt; /* 1em == 10px */
	font-family: 'Fira Sans', sans-serif;
	height: 100%;
	margin: 0;
	color: #fff;
	background: rgba(61,153,112,1);
	background: linear-gradient(180deg, rgba(24,214,129,1) 0%, rgba(61,153,112,1)  100%);
}

a,
a:visited {
	color: #5835FF;
	text-shadow: none;
}

/********************************************************/
/* Global font-size */
/********************************************************/
h1 {font-size: 2.6em;}
h2 {font-size: 3.2em;}
h3 {font-size: 2.8em;}
h4 {font-size: 2.2em;}
h5 {font-size: 2.0em;}
h6 {font-size: 1.8em;}
p {font-size: 1.6em;}

/********************************************************/
/* .wrapper */
/********************************************************/
.wrapper {
	max-width: 1000px;
	padding: 0 24px;
	margin: 0 auto;
}

/********************************************************/
/* .button */
/********************************************************/
.button,
.button:visited {
	display: inline-block;
	padding: 8px 18px;
	border: 1px solid #fff;
	border-radius: 2px;
	font-size: 1.4em;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.button:hover {
	color: rgba(61,153,112,1);
	background-color: #fff;
}

.button.large {
	font-size: 1.6em;
	padding: 12px 18px;
}

/********************************************************/
/* .mainHeader */
/********************************************************/
.mainHeader {
	padding: 24px 0;
	margin-bottom: 36px;
}

.brmodeloLogo h1 {
	margin: 0;
	text-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

.mainHeader > .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.userOptions {
	display: flex;
	flex-direction: column;
}

.userOptions .button:first-child {
	margin-bottom: 6px;
}

/********************************************************/
/* .heroHeader */
/********************************************************/
.heroHeader {
	margin-bottom: 64px;
	text-align: center;
}

.heroHeader h2 {
	max-width: 800px;
	margin: 0 auto;
	text-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

.heroHeader p {
	font-size: 1.8em;
	text-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

/********************************************************/
/* .heroArea */
/********************************************************/
.heroArea {
	background-image: url(../img/wave-site.svg);
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-bottom: 64px;
}

/********************************************************/
/* .heroImage */
/********************************************************/
.heroImage {
	display: block;
	position: relative;
	margin: 0 auto;
}

.heroImage:before,
.heroImage:after {
	content: " ";
	display: block;
	position: absolute;
	height: 200px;
	z-index: 1;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.4);
}

.heroImage:before {
	width: calc(100% - 24px);
	top: -12px;
	left: 12px
}

.heroImage:after {
	width: calc(100% - 48px);
	top: -24px;
	left: 24px;
}

.heroImage > img {
	display: block;
	position: relative;
	width: 100%;
	z-index: 10;
	border-radius: 3px;
	box-shadow: 0 4px 4px rgba(0,0,0, 0.25);
}

/********************************************************/
/* .featuresArea */
/********************************************************/
.featuresArea h3 {
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.25);
}

.featureList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

/********************************************************/
/* .featureItem */
/********************************************************/
.featureItem {
	position: relative;
	overflow: hidden;
	flex: 0 1 100%;
	padding: 24px;
	margin-bottom: 2em;
	background: rgba(255,255,255, 0.1);
	box-shadow: 0 2px 2px rgba(0,0,0, 0.1);
}

.featureItem.featureSoon:before {
	display: block;
	position: absolute;
	transform: rotate(40deg);
	padding: 3px 30px;
	background-color: #fff;
	color: rgba(61,153,112,1);
	font-size: 1.4em;
	font-weight: 600;
	text-align: center;
	text-shadow: none;
	box-shadow: 1px 2px 2px rgba(0,0,0, 0.2);
}

.featureItem.featureSoon.en-content:before {
	content: "Soon";
	top: 7px;
	right: -27px;
}

.featureItem.featureSoon.pt-br-content:before {
	content: "Em breve";
	top: 13px;
	right: -31px;
}

/********************************************************/
/* .featureItemHeader */
/********************************************************/
.featureItemHeader {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.featureItemHeader svg {
	width: 32px;
	margin-right: 8px;
}

.featureItemHeader > svg path {
	fill: #fff;
}

.featureItemHeader .verticalIcon {
	width: 24px;
}

.featureItemHeader h4 {
	margin: 0;
}

/********************************************************/
/* .mainFooter */
/********************************************************/
.mainFooter {
	text-align: center;
	margin-bottom: 32px;
}

.mainFooter .github-stars {
	transform: scale(1.2);
	opacity: 0.9;
	margin-bottom: 12px;
}

.mainFooter p {
	font-size: 1.2em;
	margin: 0;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.4);
}

/********************************************************/
/* Media queries: Small screens < 430px */
/********************************************************/
@media only screen and (min-width: 430px) {

	h1 {font-size: 2.6em;}
	h2 {font-size: 3.8em;}
	h3 {font-size: 3.2em;}
	h4 {font-size: 2.0em;}
	h5 {font-size: 1.8em;}
	h6 {font-size: 1.8em;}
	p {font-size: 1.6em;}

	.userOptions {
		display: block;
	}

	.userOptions > .button {
		margin-left: 12px;
	}

	.featureItem {
		flex: 0 1 calc(50% - 2em - (24px * 1.5));
	}

	.featureItemHeader {
		text-align: left;
	}

	.featureItemHeader h4 {
		line-height: 1.1em;
	}

}

/********************************************************/
/* Media queries: Medium screens < 740px (iPhone X horizontal mode) */
/********************************************************/
@media only screen and (min-width: 740px) {

	h2 {font-size: 4.8em;}
	h3 {font-size: 3.8em;}

	.featureItem {
		flex: 0 1 calc(33% - 3em - (24px * 1.5));
		margin-bottom: 3em;
	}

}
